.big-title {
  margin: 2rem;
}

.big-title > h1{
  font-size: 13rem;
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__menu-title> hr{
  margin: 1rem 0 1rem 0;
}
