<div class="container__body">
  <div class="container__main">
    <div class="container__small-img">
      <a [routerLink]="['content', Id]"><img src="{{photoCover}}" alt=""></a>
    </div>

    <div class="containeir__titles">
      <div class="container__date">
        <a [routerLink]="['content', Id]">
          <p>{{cardDate}}</p>
        </a>
      </div>

      <div class="container__title-main">
        <a [routerLink]="['content', Id]">
          <h2>{{cardTitle}}</h2>
        </a>
      </div>
    </div>
  </div>
  <hr>
</div>
