<div class="container__body">
  <div class="container__main">
    <div class="container__small-img">
      <img src="https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    </div>

    <div class="containeir__titles">
      <div class="container__date">
        <p>Julho 01, 2023</p>
      </div>

      <div class="container__title-main">
        <h2>O avanço da tecnologia em nossa vida e a expansão do Multiverso, será?</h2>
      </div>
    </div>
  </div>
  <hr>
</div>

