<nav class="container__menuBar">
  <div class="container__menu-img">
    <img src="assets/img/logo.png" width="70" alt="logo">

    <div class="container__menu-rede-sociais">
      <ul>
        <li class=""><a href="">DRAGON BALL</a></li>
        <li class="container__menu-rede-sociais-bottom"><a href="">NARUTO</a></li>
        <li class="container__menu-rede-sociais-bottom"><a href="">BORUTO</a></li>
        <li class="container__menu-rede-sociais-bottom"><a href="">JUJUTSU KAIKE</a></li>
        <li class="container__menu-rede-sociais-bottom"><a href="">ONE PIECE</a></li>
      </ul>
    </div>
  </div>

  <div class="card__redes-socias">
    <ul>
      <li>
        <a href="">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/800px-Instagram-Icon.png"
            width="20" alt="twiter"></a></li>
      <li><a href=""><img src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png" width="20"
            alt="instagram"></a></li>
      <li><a href=""><img src="" alt=""></a></li>
    </ul>
  </div>


</nav>
